.Body {
	background-color: grey;
}

.mainBar {
	display: flex;
	width: 1250px;
	height: 75px;
	background-color: blue;
	margin: auto;
	transition: height 0.3s ease;
}

.pageDiv {
	background-color: White;
	position: relative;
	display: block;
	width: 80vw;
	height: 75vh;
	margin: auto;
}

.header {
	display: grid;
	justify-content: start;
	width: 80vw;
	height: 135px;
	margin: auto;
	background-color: lightgrey;
}

.title {
	display: flex;
	margin-left: 10px;
	margin-top: -15px;
  	font-weight: 400;
 	font-style: normal;
}

.headerTestButtons {
	display: flex;
	justify-content: flex-end;
	width: 80vw;
	gap: 15px;
}

.headerButtons {
	color: black;
	font-size: 20px;
	text-decoration: none;
	background-color: white;
	transform: translateX(-25px);
	height: 25px;
	border: 2px solid black;
	border-radius: 5px;
}

.headerButtons:hover {
	background-color: #DEDEDE;
	border-color: white;
}

.subElements {
	display: inline;
	margin-left: 10px;
	margin-top: -10px;
	gap: 10px;
}

.headerElements {
	margin-top: -2px;
	margin-left: 1vw;
}


.canvasButtons {
	display: flex;
	justify-content: end;
	position: relative;
	width: 25vw;
	height: 30px;
	margin-top: -25px;
	margin-left: 50vw;
	gap: 10px;
}

@media screen and (max-width: 700px) {
	.canvasButton {
		font-size: 9px;
		height: 30px;
		width: 100px;
		gap: -8px;
	}
}

@media screen and (max-width: 640px) {
	.canvasButton {
		font-size: 8px;
		height: 30px;
		width: 80px;
		gap: -10px;
	}
}

.mainDivElements {
	display: block;
}

.mainHeading {
  font-size: 30px;
}

.gallery {
	display: inline-block;
	margin-top: 50px;
}

.projectsGallery {
	display: inline;
	margin: 20px;
	padding: 5px 25px;
	background-color: grey;
}

.counterClass {
	margin-top: -35px;
	font-size: 40px;
	padding-left: 200px;
}

.circle {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	background-color: blue;
}

.canvasDiv {
	background-color: White;
	position: relative;
	display: block;
	width: 80vw;
	height: 75vh;
	margin: auto;
}
