.mainBody {
	background-color: grey;
}

.mainBar {
	display: flex;
	width: 1250px;
	height: 75px;
	background-color: blue;
	margin: auto;
	transition: height 0.3s ease;
}

.mainDiv {
<<<<<<< Updated upstream
  background-color: White;
=======
	display: flex;
	width: 1250px;
	height: 815px;
	margin: auto;
	background-color: White;
}

.gameHeader {
	width: 1250px;
	height: 120px;
	margin: auto;
	background-color: lightgrey;
}
.mainDivElements {
	display: block;
>>>>>>> Stashed changes
}

.mainHeading {
  font-size: 30px;
}

.counterClass {
	margin-top: -35px;
	font-size: 40px;
	padding-left: 200px;
}

.circle {
	border-radius: 100px;
	width: 50px;
	height: 50px;
	background-color: blue;
}

.gameDiv {
	background-color: White;
	display: block;
	width: 1250px;
	height: 815px;
	margin: auto;
}
